.container{
    height: 500px;
    width: 1000px;
    border: 1px solid black;
    background-color: aqua;
     display: grid;
     /* grid-template-columns: 1fr 1fr  1fr 1fr; */
     grid-template-columns: repeat(4,100px);
     grid-template-rows: repeat(3,100px); 
     /* grid-template-areas: "header header header header" "main main . sidebar" "footer footer footer footer"; phela grid area define kara ga items ma phir grid templates areas */
    gap: 5px;
    /* justify-items: end; */
     justify-items: center;  
     justify-items: stretch;
     align-items: center;
    align-items: baseline;
     justify-content: center;  */
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */
    align-content: center;

    }

.item{
    height: 100px;
    width: 100px;  
    border: 1px solid black;
    background-color: brown;
    text-align: center;
    align-content: center;
    color: white;
    
}
/* grid- template-colums and grid-template-rows */
/* .item1{
    grid-area: header;
}
.item2{
    grid-area: main;
}
.item3{

    grid-area: sidebar;
}
.item4{
    grid-area: footer;
} */
 /*  */