
  body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(2, 2, 42);
    padding: 1rem;
  }

.logo{
    color: white;
    font-size: 1.5rem;
}
.menu{
    position: absolute;
    top: 60px;
    right: 20px;
    width: 200px;
    display: flex;
    flex-direction: column;
    background: #444;
}
.menu a{
    color: wheat;
    padding: 1em;
    text-decoration: none;
    display: block;

}
.hamburger{
    font-size: 2rem;
    color :white;
    cursor: pointer;

}
@media (min-width:768px)
{
    .menu{
    position: static;
    background :none;
    display: flex;
    flex-direction: row;
    width: auto;
}



.hamburger{
    display: none;
}
}