p{
    color: blue ;
    background-color: aquamarine;
    text-align: center;
}
.p{
    color: rgb(red, green, blue);
    background-color: aqua;
}
#jk{
    font-size: 25px;
    color: #ff0000;
    
}