/* p{
    color: blue ;
    background-color: aquamarine;
    text-align: center;
}
.p{
    color: rgb(red, green, blue);
    background-color: aqua;
}
#jk{
    font-size: 25px;
    color: #ff0000;
    
} */
/* div{
    height: 200px;
    width: 200px;
    background-color: aquamarine;
    border: 2px;
}
.gg{
    border: 4px;
    color: red;
}
.qqq{
    border: 3px;
    color: blueviolet;
}
#uu{
   
    font-size: 20px;
    border: 5px;
} */
 div{
    padding: 20PX;
    border: 3px solid black;
    margin: 2px;
    height: 100px;
    width: 1000px;
 }
 h1{
    text-align: center;
    color: blueviolet;
 }
 p{
    color: red;
 }