.container{
    display: flex ;
    /* flex-direction: row ; */
    height: 200px;
    width: 300px;
    background-color: aquamarine;
    border: 4px solid rgb(145, 47, 47);
    flex-wrap: wrap;
}
.item{
    height: 100px;
    width: 100px;
    background-color: blue;
    border: 1px solid rgb(208, 29, 29);
}